{% extends "base.html" %} {% block title %} Books {% endblock %}
{% block content %}
<div class="book">
    <a href="http://127.0.0.1:8000/" class="back-button">&lt; {{ book.name }}</a>
    
    <div class="book-content">
        <div class="book-image"></div>
        
        <div class="details">
            <p><strong>Author:</strong> {{ book.author }}</p>
            <p><strong>Publisher:</strong> {{ book.publisher }}</p>
            <p><strong>Year of Publish:</strong> {{ book.year_published }}</p>
            <p><strong>Genre:</strong> {{ book.genre }}</p>
            <p><strong>Description:</strong></p>
            <p>{{ book.synopsis }}</p>
        </div>
    </div>
    
    <button class="borrow-button" id="borrowButton" data-book-id="{{ book.bookId }}">Borrow</button>
    <p id="message"></p> 
</div>

<script>
document.getElementById('borrowButton').addEventListener('click', function() {
    const bookId = this.getAttribute('data-book-id');
    console.log('Book ID:', bookId);
    fetch(`/borrow/${bookId}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({})
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        const messageElement = document.getElementById('message');
        if (data.status === 200) {
            messageElement.textContent = data.message;
            messageElement.style.color = 'green';
        } else {
            messageElement.textContent = data.message;
            messageElement.style.color = 'red';
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});
</script>
{% endblock %} 